.featured-jobs-component{
    
}
.feature-single-card{
    border: 1px solid rgba(128, 128, 128, 0.33);
    margin: 10px;
    padding: 20px 40px;
    border-radius: 10px;
}
.job-card-p{
    align-items: center;
    display: flex;
}
.Rem-ft{
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
    font-weight: bolder;
    background-color: white;
    border: 2px solid;
    border-radius: 4px;
    cursor: pointer;
    border-image: linear-gradient(to left, #E040FB, #00BCD4) 1;
    background-image: linear-gradient( to right, #E040FB, #00BCD4);
	display: inline-block;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.gradient-main-div{

}