.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 150px 20px;
}
.nav-link{
    margin: 15px;
    text-decoration: none;
    font-size: large;
}
.career-header{
    text-decoration: none;
    background-image: linear-gradient( to right, #E040FB, #00BCD4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 40px;
}
.active{
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    color: #E040FB;
    /* background-image: linear-gradient( to right, #E040FB, #00BCD4); */
	/* -webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
  }

  @media (max-width: 576px) {
    .header{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-items: center;
    }
    .header-btn{
        margin-top: 30px;
        width: 200px;
    }
    .nav-link{
        margin: 10px;
    }
    
    .head-nav{
        margin-top: 20px;
    }
  }

 