.footer{
    padding: 50px 150px 20px;
    background-color: #1f2d3a;
    color: white;
    /* line-height: 1em; */
    font-size: .9em;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 0;
}
.footer-common{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.footer-img{
    max-width: 100px;
}
.footer p{
    margin: 10px 0;
}