.footer{
    padding: 50px 150px 20px;
    background-color: #1f2d3a;
    color: white;
    /* line-height: 1em; */
    font-size: .9em;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 0;
}
.footer-common{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.footer-img{
    max-width: 100px;
}
.footer p{
    margin: 8px;
}
.footer h3{
    margin-left: 8px;
}

@media (max-width: 576px) {
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 30px;
        text-align: center;
        margin-top: 20px;
    }
    .footer-common{
        display: flex;
        flex-direction: column;
        text-align: center;        
    }
}