.dream-job{
    background-image: linear-gradient( to right, #E040FB, #00BCD4);
	text-transform: uppercase;
	display: inline-block;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;   
}
.main-heading{
    font-size: 70px;
    line-height: 1.3em;
}
.upper-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.job-catagory-list{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.acme{
    display: flex;
    justify-content: space-between;
    gap: 20px;    
    
}
.acme-single{
    margin-top: 30px;
    background-color: #9873ff13;
    padding: 20px 0;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    width: 240px;
    height: 200px;
}
.featured-section{
    margin-top: 50px;
}
.featured-section-heading{
    font-size: 30px;
    text-align: center;
}
.featued-p{
    text-align: center;
}
.company-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}