.job-details{
    padding: 50px 150px;
    display: grid;
    grid-template-columns: 10fr 6fr;
    gap: 20px;
}
.job-details-right{
    /* background: linear-gradient( 120deg, #00bbd43a, #df40fb38) ;
    border-radius: 10px;
    padding: 0 20px; */
}
.job-details-right-main{
    background: linear-gradient( 120deg, #00bbd43a, #df40fb38) ;
    border-radius: 10px;
    padding: 10px 20px;
}
/* .compo-heading{
    font-size: 1.3em;
    font-weight: bold;
    line-height: 2em;
}*/

.job-d-compo{
    line-height: 1.5em;
}
.job-d-div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.job-apply-now{
    margin: 10px 0;
    width: 100%;
    height: 40px;
    background: linear-gradient( 150deg, #00BCD4, #E040FB) ;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}